@import "tailwindcss";

:root {
  /* Design System Colors */
  --color-primary: #00552E;
  /* Forest Green */
  --color-bg-natural: #F9F9F9;
  /* Natural White */
  --color-accent: #ECAE0F;
  /* Yamabuki Yellow */
  --color-text-main: #003311;
  /* Dark Green */

  --background: var(--color-bg-natural);
  --foreground: var(--color-text-main);
}

@theme inline {
  --color-primary: var(--color-primary);
  --color-background: var(--background);
  --color-accent: var(--color-accent);
  --color-text: var(--color-text-main);

  --font-sans: var(--font-noto-sans-jp), sans-serif;
  --font-serif: var(--font-zen-old-mincho), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
}